/*Estructura del archivo CSS
-Root
-Fuentes
-Reset CSS
-Tipografía
-Buttons
-Standard section size
-Header
-Footer
-Banner home
-Banner stories
-Banner contact
-Introducción home
-Sección autores home
-Carrousel home
-Cards stories
-Formulario página contacto
-Media (1000px [cuando llega al max-width de la página], 768px [tablet], 480px [móvil])
Nota: en el media se sige el mismo orden que en la estructura del css para organizar los elementos
*/


/*--- ROOT ---*/
/*--- Root medidas ---*/
:root {
    /*---Margin, Padding & gap---*/
    --standard-margin: 0 auto;
    --standard-padding: 2em;
    --standard-gap: 1em;

    /*--- Max-width ---*/
    --standard-max-width: 1000px;

    /*--- Flex-basis & flex-grow ---*/
    --standard-flex-basis: 0;
    --standard-flex-grow: 1;

    /*--- Border radius ---*/
    --standard-border-radius: 5px;
}

/*--- Root colors ---*/
:root {
    /*--- Main colors ---*/
    --color-black: #000000;
    --color-white: #ffffff;
    --color-grey: #747474;
    --contact--color: #000080;

    /*--- Main gradient ---*/
    --gradient-one: linear-gradient(163deg, rgba(240,223,118,1) 0%, rgba(171,63,24,1) 46%, rgba(109,2,17,1) 54%, rgba(60,4,43,1) 59%, rgba(0,4,101,1) 67%, rgba(42,110,123,1) 83%, rgba(80,208,144,1) 100%);

}

/*Root stories colors*/
:root {
    /*--- Stories L ---*/
    --storiesL-orange: #fbc2a4;
    --storiesL-purple: #a91178;
    --storiesL-gradient: linear-gradient(90deg, rgba(244,114,52,1) 0%, rgba(214,84,178,1) 100%);

    /*--- Stories G ---*/
    --storiesG-lightBlue: #99e8c2;
    --storiesG-darkBlue: #3e1a78;
    --storiesG-gradient: linear-gradient(90deg, rgba(38,206,170,1) 0%, rgba(80,73,203,1) 100%);

    /*--- Stories B ---*/
    --storiesB-blue: #0038a8;
    --storiesB-pink: #fec0e0;
    --storiesB-gradient: linear-gradient(90deg, rgba(214,2,112,1) 0%, rgba(115,79,150,1) 100%);

    /*--- Stories T ---*/
    --storiesT-blueLight: #d4f6ff;
    --storiesT-blueDark: #38d1fd;
    --storiesT-gradient: linear-gradient(90deg, rgba(252,171,186,1) 26%, rgba(56,209,253,1) 100%);

    /*--- +Literature & Diversity ---*/
    --plusLiteratureDiversity-black: #2d2d2d;
    --plusLiteratureDiversity-purpleLight: #d1b3cc;
    --plusLiteratureDiversity-purpleDark: #9b59d0;
    --plusLiteratureDiversity-gradient: linear-gradient(90deg, rgba(155,89,208,1) 15%, rgba(255,244,51,1) 100%);

    /*--- Children's literature ---*/
    --childrensLiterature-orangeDark: #ff7300;
    --childrensLiterature-orangeLight: #ffcea6;
    --childrensLiterature-gradient: linear-gradient(90deg, rgba(255,213,0,1) 24%, rgba(255,115,0,1) 100%);
}
/*--- ROOT ---*/

/*--- FONTS ---*/
/*Fuentes importadas desde la carpeta fonts*/
@font-face{
    font-family: "krub_medium";
    src: url('/fonts/Krub-Medium.ttf');
}

@font-face{
    font-family: "krub_bold";
    src: url('/fonts/Krub-Bold.ttf');
}
/*--- FONTS ---*/

/*--- RESET CSS ---*/
body {
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

li {
    list-style: none;
}
/*--- RESET CSS ---*/

/*--- TIPOGRAPHY ---*/
h1 {
    font-family: "krub_bold";
    font-size: 60px;
    font-weight: 800;
}

h2 {
    font-family: "krub_bold";
    font-size: 35px;
    font-weight: 800;
}

h3 {
    font-family: "krub_bold";
    font-size: 30px;
    font-weight: 800;
}

h4 {
    font-family: "krub_bold";
    font-size: 25px;
    font-weight: 800;
}

h5 {
    font-family: "krub_medium";
    font-size: 25px;
    font-weight: 200;
}

h6 {
    font-family: "krub_medium";
    font-size: 18px;
    font-weight: 200; 
}

p {
    font-family: "krub_medium";
    font-size: 15px;
    font-weight: 200;
}

a {
    font-family: "krub_bold";
    font-size: 20px;
    font-weight: 200;
    text-decoration: none;
    color: var(--color-black);
}

.gradient {
    background: var(--gradient-one);

    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.bold {
    font-family: "krub_bold";
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

/*--- TIPOGRAPHY ---*/

/*--- BUTTONS ----*/
.button {
    padding: 1.5em 1em;

    background-color: var(--color-black);
    border: 1px var(--color-black) solid;
    color: var(--color-white);

    border-radius: 5px;

    width: 300px;
}

/*Utilizado para que cuando se haga hover en el botón cambie de color*/
.button:hover {
    background-color: var(--color-white);
    color: var(--color-black);
}
/*--- BUTTONS ----*/

/*--- STANDARD SECTION SIZE ---*/
/*Permite estandarizar las medidas de max-width, padding y margin en algunas secciones*/
.standard__section--size {
    max-width: var(--standard-max-width);
    margin: var(--standard-margin);
    padding: var(--standard-padding);
}
/*--- STANDARD SECTION SIZE ---*/

/*--- HEADER ---*/
/*Descripción: header de la página que incluye el header en bruto y el pop-up al clicar en el menu hamburguesa.
Estructura:
-header__content: redes sociales + icono menu
-header__modal: pop-up
*/
.header {
    display: flex;
    flex-direction: row;

    min-height: 100px;
    width: 100vw;
}

.header__content {
    flex-grow: var(--standard-flex-grow);
    flex-basis: var(--standard-flex-basis);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.header .header__content .header__content--socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.header .header__content .header__content--socials--content {
    flex-grow: var(--standard-flex-grow);
    flex-basis: var(--standard-flex-basis);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: .5em;
}

.header .header__content .header__content--openModal {
    display: flex;
    align-items: center;
    justify-content: end;

    cursor: pointer;
}

.header .header__modal {
    display: none;
    position: fixed;
    top: 0;

    background-color: rgba(67, 67, 67, 0.635);

    width: 100vw;
    height: 100vh;

    animation: opacityEffect .5s ease;
    z-index: 10;
}

.header .header__modal .header__modal__content {
    position: fixed;
    top: 0;
    left: 70vw;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: var(--standard-gap);

    width: 30vw;
    height: 100vh;

    padding: 2em 2em;

    background-color: var(--color-black);
    color: var(--color-white);

    animation: sideEffectMenu 2s ease;
}

.header .header__modal .header__modal__content .header__modal__content--close {
    font-family: "krub_medium";
    font-size: 40px;
    font-weight: 200;

    cursor: pointer;

    animation: opacityEffect 3s ease;
}

.header .header__modal .header__modal__content .header__modal__content--close:hover {
    color: var(--color-grey);
}


.header .header__modal .header__modal__content .header__modal__content--links {
    flex-grow: var(--standard-flex-grow);
    flex-basis: var(--standard-flex-basis);

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: var(--standard-gap);
    padding: 0 2em;
    animation: opacityEffect 3s ease;
}

.header .header__modal .header__modal__content .header__modal__content--links--each {
    color: var(--color-white);
}

.header .header__modal .header__modal__content .header__modal__content--links--each:hover {
    color: var(--color-grey);
}

/*Hace que el elemento pase de opacidad 0 a 1*/
@keyframes opacityEffect {
    from {opacity: 0}
    to {opacity: 1}
}

/*Hace que el pop-up se desplace un poco desde la derecha cuando se hace clic en el icono del menu*/
@keyframes sideEffectMenu {
    0% {transform: translateX(2em); opacity: 0}
    100% {transform: translateX(0); opacity: 1}
}
/*--- HEADER ---*/

/*--- FOOTER ---*/
/*Descripción: es el footer de la página que incluye un indice con los links a las páginas de la web, el logo y links de contacto y RRSS
Estructura:
-footer__container__links: índice
-footer__container__content: logo, RRSS y contacto
*/
.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100vw;
    min-height: 320px;

    padding: 1em;

    background-color: var(--color-black);
}

.footer .footer__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;

    max-width: var(--standard-max-width);
    min-height: 320px;

    color: var(--color-white);
}

.footer .footer__container .footer__container__links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5em;

    text-align: center;
    
    width: 100%;
}

.footer .footer__container .footer__container__links .footer__container__links--each {
    font-family: "krub_medium";
    font-size: 16px;
    font-weight: 200;

    text-align: center;

    color: var(--color-white);
}

.footer .footer__container .footer__container__links .footer__container__links--each:hover {
    color: var(--color-grey);
}

.footer .footer__container .footer__container__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5em;

    width: 100%;
}

.footer .footer__container .footer__container__content  .footer__container__content__logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: .5em;

    padding: var(--standard-padding);

    min-height: 150px;
    width: 50%;

    color: var(--color-white);

    text-align: start;

    border-right: 1px var(--color-white) solid;
}

.footer .footer__container .footer__container__content  .footer__container__content__logo .footer__container__content__logo--text {
    width: 150px;
}

.footer .footer__container .footer__container__content  .footer__container__content__logo .footer__container__content__logo--gradient {
    background: url('/media/logo_gradient_color.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    border-radius: 100%;

    width: 100px;
    height: 100px;
}

.footer .footer__container .footer__container__content .footer__container__content__contact {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: var(--standard-gap);

    width: 50%;
}

.footer .footer__container .footer__container__content .footer__container__content__contact .footer__container__content__contact--text {
    color: var(--color-white);

    align-items: start;
}

.footer .footer__container .footer__container__content .footer__container__content__contact .footer__container__content__contact--text:hover {
    color: var(--color-grey);
}
/*--- FOOTER ---*/

/*--- BANNER HOME ---*/
/*Descripción: incluye el banner de la pagina de bienvenida
Estructura:
-bannerHome__content: nombre de la web
-bannerHome__colorSide: gradiente principal lateral
*/
.bannerHome {
    width: 100vw;
    height: 500px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: var(--color-black);
}

.bannerHome .bannerHome__content {
    flex-grow: var(--standard-flex-grow);
    flex-basis: var(--standard-flex-basis);

    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;

    height: 500px;
    width: 60vw;
    padding-right: 50px;

    color: white;

    overflow: hidden;
    animation: textContent 15s ease-in-out;
}

.bannerHome .bannerHome__content .bannerHome__content--text {
    width: 500px;
}

.bannerHome .bannerHome__content .bannerHome__content--gradient {
    display: none;
}

.bannerHome .bannerHome__colorSide {
    background: url('/media/logo_gradient_color.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--standard-gap);

    text-align: center;
    color: var(--color-white);

    height: 500px;
    width: 40vw;

    animation: sideColor 10s ease-in-out;
}

.bannerHome .bannerHome__colorSide .bannerHome__colorSide--text {
    opacity: 0;
    animation: opacityEffect 3s ease-in-out;
    overflow: hidden;
}

/*Hace efecto de la sección del gradiente, modificando su ancho*/
@keyframes sideColor {
    0% {width: 100vw;}
    30% {width: 100vw;}
    100% {width: 40vw;}
}

/*Ajusta la opacidad del título para que no se muestre antes de tiempo de que termine la animación del gradiente*/
@keyframes textContent {
    0% {opacity: 0; padding-right: 0;}
    25% {opacity: 0; padding-right: 0;}
    60% {opacity: 0; padding-right: 50px;}
    100% {opacity: 1;}
}
/*--- BANNER HOME ---*/

/*--- BANNER STORIES ---*/
/*Descripción: es el banner de las páginas Stories with L, G, B & T, +Literature & Diversity & Children's literature
Estructura:
-Estructura compartida
-Cambios de color de cada página
*/
.bannerStories {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    min-height: 400px;
}

.bannerStories .bannerStories__content {
    flex-grow: var(--standard-flex-grow);
    flex-basis: var(--standard-flex-basis);

    display: flex;
    justify-content: center;
    align-items: center;

    padding: var(--standard-padding);

    max-width: 800px;
    min-height: 250px;

    background-color: var(--color-white);
    border-radius: var(--standard-border-radius);
}

/*Cambios color --> Stories with L*/
.storiesL__background {
    background: url('/media/banner_stories_L.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.storiesL__letterColor {
    color: var(--storiesL-purple);
}

/*Cambios color --> Stories with G*/
.storiesG__background {
    background: url('/media/banner_stories_G.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.storiesG__letterColor {
    color: var(--storiesG-darkBlue);
}

/*Cambios color --> Stories with B*/
.storiesB__background {
    background: url('/media/banner_stories_B.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.storiesB__letterColor {
    color: var(--storiesB-blue);
}

/*Cambios color --> Stories with T*/
.storiesT__background {
    background: url('/media/banner_stories_T.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.storiesT__letterColor {
    color: var(--storiesT-blueDark);
}

/*Cambios color --> +Literature & Diversity*/
.storiesPlus__background {
    background: url('/media/banner_plus_literautre_diversity.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.storiesPlus__letterColor {
    color: var(--plusLiteratureDiversity-purpleDark);
}

/*Cambios color --> Children's Literature*/
.childrensLiterature__background {
    background: url('/media/banner_childrens_literature.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*--- BANNER STORIES ---*/

/*--- BANNER CONTACT ---*/
/*Descripción: es el banner de la página de contacto, que incluye una pequeña descripción llamativa en el contenido*/
.bannerContact {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    min-height: 300px;

    background-image: url('/media/logo_gradient_color.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.bannerContact .bannerContact__content {
    flex-grow: var(--standard-flex-grow);
    flex-basis: var(--standard-flex-basis);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: var(--standard-gap);
    padding: var(--standard-padding);

    max-width: 800px;
    min-height: 150px;

    background-color: var(--color-black);
    color: var(--color-white);
    border-radius: 5px;
}
/*--- BANNER CONTACT ---*/

/*--- INTRO HOME ---*/
/*Descripción: incorpora una breve descripción del proyecto*/
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--standard-gap);

    text-align: center;
}
/*--- INTRO HOME ---*/

/*--- CATALOGUE HOME ---*/
/*Descripción: incorpora el catálogo con las temáticas de la web
Estructura:
-catalogue__title: titulo de la sección
-catalogue__items: botones con acceso directo a cada página de la web
*/
.catalogue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;

    text-align: center;
}

.catalogue .catalogue__title {
    width: 100%;
    padding: .25em;

    border-top: rgba(51, 51, 51, 0.679) double;
    border-bottom: rgba(51, 51, 51, 0.679) double;
}

.catalogue .catalogue__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    gap: var(--standard-gap);
}
/*--- CATALOGUE HOME ---*/

/*--- AUTHORS SECTION HOME ---*/
/*Descripción: incorpora los autores destacados seleccionados
Estructura:
-authors__title: titulo de la sección
-authors__boxes: cajitas con la foto e información de cada autor
*/
.authors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--standard-gap);

    margin: var(--standard-margin);
    padding: var(--standard-padding);

    width: 100vw;
    min-height: 400px;

    color: var(--color-white);
    background-color: var(--color-black);
}

.authors .authors__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    max-width: var(--standard-max-width);
    width: 100%;
}

.authors .authors__boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2em;

    max-width: var(--standard-max-width);
    min-height: 30px;
    width: 100%;

    padding: var(--standard-padding);

    background: url('/media/background_support_gradient.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    color: var(--color-black);

    border-radius: var(--standard-border-radius);
}

.authors .authors__boxes .authors__boxes__each {
    flex-grow: var(--standard-flex-grow);
    flex-basis: var(--standard-flex-basis);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5em;

    text-align: start;

    width: 33%;
}

.authors .authors__boxes .authors__boxes__each .authors__boxes__each--img {
    border-radius: var(--standard-border-radius);
}

.authors .authors__boxes .authors__boxes__each .authors__boxes__each--text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    width: 100%;
}
/*--- AUTHORS SECTION HOME ---*/

/*--- CARROUSEL HOME ---*/
/*Descripción: incorpora los eventos destacados seleccionados
Estructura:
-authors__title: titulo de la sección
-authors__boxes: cajitas con la foto e información de cada evento
*/
.carrousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--standard-gap);

    padding: var(--standard-padding);

    width: 100vw; 
    min-height: 400px;

    background: url('/media/background_support_gradient.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.carrousel .carrousel__title {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    text-align: start;

    width: 100%;
    max-width: var(--standard-max-width); 
    min-height: 50px; 
}

.carrousel .carrousel__slider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--standard-gap);

    overflow: hidden;

    width: 100%;
    max-width: var(--standard-max-width); 
    min-height: 50px; 
}

.carrousel .carrousel__slider .carrousel__slider__container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap;

    transition: transform 1.5s ease; 
    width: 100%;
    max-height: 300px; 
}

.carrousel .carrousel__slider .carrousel__slider__container .carrousel__slider__container__each {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: var(--standard-margin);

    object-fit: cover;

    background-color: var(--color-black);
    color: var(--color-white);

    max-width: var(--standard-max-width);
}

.carrousel .carrousel__slider .carrousel__slider__container .carrousel__slider__container__each .carrousel__slider__container__each--img {
    width: 300px; 
    height: auto;
}

.carrousel .carrousel__slider .carrousel__slider__container .carrousel__slider__container__each .carrousel__slider__container__each--text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: var(--standard-gap);
    padding: var(--standard-padding);

    width: 700px; 
    max-width: 100%; 
}
/*--- CARROUSEL HOME ---*/

/*--- CARDS STORIES ---*/
/*Descripción: incluye el buscador y las cards de los libros de las páginas Stories with L, G, B & T,  +Literature & Diversity y Children's Literature
Estructura:
-Estructura general: con tres partes principales
    -cards__search: el buscador
    -cards__container: el contenido de las cards de los libros
    -cards__noResult: el mensaje que sale si el contenido introduccido en el buscador no coincide con el título de las cards
-Estructura específica: cambios de color en las cards de cada página
*/
.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--standard-gap);
}

.cards .cards__search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .5em;
    width: 100%;
}

.cards .cards__search svg {
    flex-shrink: 0;
}

.cards .cards__search_form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 330px;
}

.cards .cards__search_form--input {
    width: 100%;
    padding: .5em;
    margin: 1em auto;
    
    border: none;
    border-bottom: 2px solid var(--color-black);

    font-family: "krub_medium";
    font-size: 15px;
    font-weight: 200;

    outline: none;
}

.cards .cards__search_form--input::placeholder {
    font-family: "krub_medium";
    font-size: 15px;
    font-weight: 200;

    border: none;
}

.cards .cards__container {
    flex-grow: var(--standard-flex-grow);
    flex-basis: var(--standard-flex-basis);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--standard-gap);

    max-width: var(--standard-max-width);
}

.cards .cards__container .cards__container__box {
    flex-grow: var(--standard-flex-grow);
    flex-basis: var(--standard-flex-basis);

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 400px;
    max-width: var(--standard-max-width);
}

.cards .cards__container .cards__container__box .cards__container__box__img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 1em;

    width: 250px;
    height: 400px;

    border-radius: 5px 0 0 5px;
}

.cards .cards__container .cards__container__box .cards__container__box__img .cards__container__box__img--each {
    border-radius: var(--standard-border-radius);
}

.cards .cards__container .cards__container__box .cards__container__box__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    max-width: 750px;
    height: 400px;
}

.cards .cards__container .cards__container__box .cards__container__box__content .cards__container__box__content--information {
    flex-grow: var(--standard-flex-grow);
    flex-basis: var(--standard-flex-basis);

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: var(--standard-gap);

    padding: 1em;

    width: 100%;
    min-height: 150px;

    border-radius: 0 5px 0 0;
}

.cards__container__box__content--information--background {
    padding: .3em .5em .3em .5em;
    border-radius: 15px;
}

.cards__container__box__content--information--secondLine {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: .5em;
}

.cards .cards__container .cards__container__box .cards__container__box__content .cards__container__box__content--text {
    flex-grow: var(--standard-flex-grow);
    flex-basis: var(--standard-flex-basis);

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: var(--standard-gap);

    padding: 1em;

    width: 100%;
    min-height: 250px;

    border-radius: 0 0 5px 0;
}

.cards .cards__noResult {
    flex-grow: var(--standard-flex-grow);
    flex-basis: var(--standard-flex-basis);

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--standard-gap);

    color: var(--color-grey);

    min-height: 200px;
}

/*CARDS --> Stories with L*/
.storiesL__img__background {
    background-color: var(--storiesL-purple);
}

.storiesL__information__background {
    background-image: var(--storiesL-gradient);
}

.storiesL__information__text--background {
    background-color: var(--storiesL-purple);
    color: var(--color-white);
}

.storiesL__text__background {
    background-color: var(--storiesL-orange);
}

/*CARDS --> Stories with G*/
.storiesG__img__background {
    background-color: var(--storiesG-darkBlue);
}

.storiesG__information__background {
    background-image: var(--storiesG-gradient);
}

.storiesG__information__text--background {
    background-color: var(--storiesG-darkBlue);
    color: var(--color-white);
}

.storiesG__text__background {
    background-color: var(--storiesG-lightBlue);
}

/*CARDS --> Stories with B*/
.storiesB__img__background {
    background-color: var(--storiesB-blue);
}

.storiesB__information__background {
    background-image: var(--storiesB-gradient);
}

.storiesB__information__text--background {
    background-color: var(--storiesB-blue);
    color: var(--color-white);
}

.storiesB__text__background {
    background-color: var(--storiesB-pink);
}

/*CARDS --> Stories with T*/
.storiesT__img__background {
    background-color: var(--storiesT-blueDark);
}

.storiesT__information__background {
    background-image: var(--storiesT-gradient);
}

.storiesT__information__text--background {
    background-color: var(--color-white);
    color: var(--color-black);
}

.storiesT__text__background {
    background-color: var(--storiesT-blueLight);
}

/*CARDS --> +Literature & Diversity*/
.storiesPlus__img__background {
    background-color: var(--plusLiteratureDiversity-black);
}

.storiesPlus__information__background {
    background-image: var(--plusLiteratureDiversity-gradient);
}

.storiesPlus__information__text--background {
    background-color: var(--plusLiteratureDiversity-black);
    color: var(--color-white);
}

.storiesPlus__text__background {
    background-color: var(--plusLiteratureDiversity-purpleLight);
}

/*CARDS --> Children's literature*/
.childrensLiterature__img__background {
    background-color: var(--childrensLiterature-orangeDark);
}

.childrensLiterature__information__background {
    background-image: var(--childrensLiterature-gradient);
}

.childrensLiterature__information__text--background {
    background-color: var(--color-white);
    color: var(--color-black);
}

.childrensLiterature__text__background {
    background-color: var(--childrensLiterature-orangeLight);
}
/*--- CARDS STORIES ---*/

/*--- CONTACT FORM ---*/
/*Descripción: incluye el formulario de contacto de la página de contacto*/
.form {
    font-family: "krub_bold";
    font-size: 18px;
    font-weight: 200;

    display: grid;
    place-items: center;

    min-height: 400px;
}

.form .form__section {
    margin-bottom: 1em;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2em;

    width: 100%;
}

.form .form__section .form__section__container {
    flex-grow: var(--standard-flex-grow);
    flex-basis: var(--standard-flex-basis);

    display: flex;
    flex-direction: column;
    justify-content: start;
}

.form .form__section .form__section__container .form__section__container--label {
    margin-bottom: .5em;
}

.form .form__section .form__section__container .form__section__container--description {
    width: 100%;
    height: 100px; 
}

.form__section input[type="text"],
.form__section input[type="email"] {
    padding: 1em;

    border: 2px solid var(--contact--color); 
    border-radius: 5px; 
}

.form__section input[type="text"]::placeholder,
.form__section input[type="email"]::placeholder {
    color: transparent; 
}

.form .form__section__button {
    margin-bottom: 1em;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    gap: 2em;

    width: 100%;
}

.form .form__section__button .form__section__button--style {
    font-family: "krub_bold";
    font-size: 18px;
    font-weight: 200;

    padding: .7em 4em;
    background-color: var(--contact--color); 

    border: 2px solid transparent;
    border-radius: 5px;
    color: var(--color-white);
    cursor: pointer;
}

.form .form__section__button.form__section__button--style:hover {
    background-color: white;
    color: var(--color-black); 

    border: 2px solid var(--contact--color);
    border-radius: 5px;
}
/*--- CONTACT FORM ---*/


/*--- MEDIA MAX-WIDTH 1000px ---*/
@media (max-width: 1000px) {
    /*Root*/
    :root {
        --standard-max-width: 80vw;
    }

    /*Tipography*/
    h1 {
        font-size: 50px;
    }

    /*Header*/
    .header .header__modal .header__modal__content {
        left: 10vw;
        right: 10vw;
    
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: .5em;
    
        width: 80vw;
        height: 80vh;
    
        padding: var(--standard-padding);
    }
    
    .header .header__modal .header__modal__content .header__modal__content--links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        padding: 0 4em;

        width: 100%;
    }

    .header .header__modal .header__modal__content .header__modal__content--links--each {
        color: var(--color-white);
        align-self: center;
    }

    /*Footer*/
    /*Los links a las páginas dejarían de visualizarse llegado a este punto, solo quedando visible el logo y los links a RRSS y de contacto*/
    .footer {
        min-height: 280px;
    }
    
    .footer .footer__container {
        min-height: 280px;
    }
    
    .footer .footer__container .footer__container__links {
        display: none;
    }
    
    .footer .footer__container .footer__container__content {
        flex-direction: column; 
        gap: var(--standard-gap);
    }
    
    .footer .footer__container .footer__container__content  .footer__container__content__logo {
        width: 80vw;
    
        border-right: none; 
    }
    
    .footer .footer__container .footer__container__content  .footer__container__content__logo .footer__container__content__logo--text {
        width: 150px; 
    }
    
    .footer .footer__container .footer__container__content .footer__container__content__contact {
        display: flex;
        flex-direction: row; 
        align-items: center;
    
        width: 100%; 
    }
    
    .footer .footer__container .footer__container__content .footer__container__content__contact .footer__container__content__contact--text {
        align-items: center; 
    }

    /*Banner home*/
    /*El gradiente lateral desaparece y se sustituye por el circulito por el gradiente principal, solo se conserva un efecto que lleva de opacidad 0 a 1 a los elementos*/
    .bannerHome {
        height: 350px;
    }
    
    .bannerHome .bannerHome__content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: var(--standard-gap);

        height: 350px;
        width: 100%;

        padding-right: 0;

        animation: textContent 0s;
        animation: opacityEffect 3s ease-in-out;
    }
    
    .bannerHome .bannerHome__content .bannerHome__content--gradient {
        display: block;
        height: 150px;
        width: 150px;

        border-radius: 100%;

        background-image: url('/media/logo_gradient_color.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .bannerHome .bannerHome__colorSide {
        display: none;
    }

    /*Banner stories*/
    .bannerStories {
        min-height: 350px;
    }
    .bannerStories .bannerStories__content {
        max-width: 60vw;
        min-height: 200px;
        text-align: center;
    }

    /*Banner contact*/
    .bannerContact {
        min-height: 350px;
    }
    
    .bannerContact .bannerContact__content {
        max-width: 70vw;
        min-height: 200px;
    }

    /*Authors section home*/
    .authors {
        min-height: 300px;
    }

    .authors .authors__container {
        min-height: 300px;
    }

    /*Cards stories*/
    .cards .cards__container {
        max-width: var(--standard-max-width);
        gap: 2em;
    }
    
    .cards .cards__container .cards__container__box {
        display: flex;
        flex-direction: column; 
        gap: .5em; 
    
        min-height: 750px; 
    }
    
    .cards .cards__container .cards__container__box .cards__container__box__img {
        width: 80vw; 
        max-height: 300px; 
    
        border-radius: 0; 
    }
    
    .cards .cards__container .cards__container__box .cards__container__box__img .cards__container__box__img--each {
        width: auto; 
        max-height: 275px; 
    }
    
    .cards .cards__container .cards__container__box .cards__container__box__content {
        max-width: 80vw; 
        min-height: 450px; 
    }
    
    .cards .cards__container .cards__container__box .cards__container__box__content .cards__container__box__content--information {
        align-items: center; 
        gap: .5em; 
    
        padding: 0; 
    
        width: 80vw; 
        min-height: 200px; 
    
        border-radius: 5px 5px 0 0; 
    }
    
    .cards__container__box__content--information--secondLine {
        flex-direction: column;
        justify-content: center; 
        align-items: center;
    }
    
    .cards .cards__container .cards__container__box .cards__container__box__content .cards__container__box__content--text {
        width: 80vw;
        min-height: 250px; 
    
        border-radius: 0 0 5px 5px; 
    }
    
    /*Cards --> Stories with L*/
    .storiesL__img__background {
        background-color: transparent;
    }

    /*Cards --> Stories with G*/
    .storiesG__img__background {
        background-color: transparent;
    }

    /*Cards --> Stories with B*/
    .storiesB__img__background {
        background-color: transparent;
    }

    /*Cards --> Stories with T*/
    .storiesT__img__background {
        background-color: transparent;
    }

    /*Cards --> +Literature & Diversity*/
    .storiesPlus__img__background {
        background-color: transparent;
    }

    /*Cards --> Chindren's literature*/
    .childrensLiterature__img__background {
        background-color: transparent;
    }
}
/*--- MEDIA MAX-WIDTH 1000px ---*/

/*--- MEDIA MAX-WIDTH 768px ---*/
@media (max-width: 768px) {
    /*Tipography*/
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 25px;
    }

    h5 {
        font-size: 18px;
    }

    h6 {
        font-size: 16px;
    }
    
    p {
        font-size: 13px;
    }

    a {
        font-size: 18px;
    }

    /*Buttons*/
    .button {
        width: 150px;
    }

    /*Header*/
    .header div.standard__section--size {
        max-width: none;
        padding: 1em 3em;
    }

    .bannerHome .bannerHome__content .bannerHome__content--text {
        width: 200px;
    }

    /*Banner home*/
    .bannerHome .bannerHome__content .bannerHome__content--gradient {
        height: 100px;
        width: 100px;
    }

    /*Authors section home*/
    .authors {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--standard-gap);
    
        margin: var(--standard-margin);
        padding: var(--standard-padding);
    
        width: 100vw;
        min-height: 400px;
    
        color: var(--color-white);
        background-color: var(--color-black);
    }
    
    .authors .authors__title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 2em;
    
        max-width: var(--standard-max-width);
        width: 100%;
    }
    
    .authors .authors__boxes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--standard-gap);
    }
    
    .authors .authors__boxes .authors__boxes__each {
        width: 100%;
    }

    .authors .authors__boxes .authors__boxes__each .authors__boxes__each--text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        width: 100%;
    }

    /*Carrousel home*/
    /*La imagen de cada slide desaparece y se pone de fondo*/
    .carrousel .carrousel__slider {
        min-height: 350px; 
    }

    .carrousel .carrousel__slider .carrousel__slider__container {
        max-width: var(--standard-max-width);
        min-height: 350px; 
    }

    .carrousel .carrousel__slider .carrousel__slider__container .carrousel__slider__container__each {
        align-items: start;

        margin: 0;

        padding: 1em;

        background-color: transparent;
        color: var(--color-back);

        width: 100%;
        height: 350px; 
    }

    .carrousel .carrousel__slider .carrousel__slider__container .carrousel__slider__container__each .carrousel__slider__container__each--img {
        display: none;
    }

    .carrousel .carrousel__slider .carrousel__slider__container .carrousel__slider__container__each .carrousel__slider__container__each--text {
        justify-content: center;

        width: 80vw; 
        height: 100%; 
        background-color: rgba(255, 255, 255, 0.788);

        border-radius: var(--standard-border-radius);
    }

    .carrousel__mobile__background--one {
        background-image: url('/media/carrousel_mobile_pride_day.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .carrousel__mobile__background--two {
        background-image: url('/media/carrousel_mobile_stem_day.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .carrousel__mobile__background--three {
        background-image: url('/media/carrousel_mobile_bixesual_day.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    /*Contact form*/
    .form {
        font-size: 15px;
    }

    .form .form__section__button .form__section__button--style {
        font-size: 15px;
    }
}
/*--- MEDIA MAX-WIDTH 768px ---*/

/*--- MEDIA MAX-WIDTH 480px ---*/
@media (max-width: 480px) {
    /*Buttons*/
    .button {
        width: 125px;
        height: 150px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*Footer*/
    .footer .footer__container .footer__container__content .footer__container__content__contact {
        flex-direction: column; 
    }

    /*Cards*/
    .cards .cards__container .cards__container__box {
        min-height: 800px; 
    }

    .cards .cards__container .cards__container__box .cards__container__box__content {
        min-height: 500px; 
    }
    
    .cards .cards__container .cards__container__box .cards__container__box__content .cards__container__box__content--text {
        min-height: 300px; 
    }

    /*Contact form*/
    .form .form__section__button {
        justify-content: center;
    }
}
/*--- MEDIA MAX-WIDTH 480px ---*/