/*ROOT*/
:root {
    --standard-margin: 0 auto;
    --standard-padding: 2em;
    --standard-gap: 1em;
    --standard-max-width: 1000px;
    --standard-min-height: 800px;
    --standard-min-height: 500px;
    --standard-flex-basis: 0;
    --standard-flex-grow: 1;
    --color-black: #000000;
    --color-white: #ffffff;
    --gradient-one: linear-gradient(163deg, rgba(240,223,118,1) 0%, rgba(171,63,24,1) 46%, rgba(109,2,17,1) 54%, rgba(60,4,43,1) 59%, rgba(0,4,101,1) 67%, rgba(42,110,123,1) 83%, rgba(80,208,144,1) 100%);
    --storiesL-orange: #fbc2a4;
    --storiesL-purple: #a91178;
    --storiesL-gradient: linear-gradient(90deg, rgba(244,114,52,1) 0%, rgba(214,84,178,1) 100%);
    --storiesG-lightBlue: #99e8c2;
    --storiesG-darkBlue: #3e1a78;
    --storiesG-gradient: linear-gradient(90deg, rgba(38,206,170,1) 0%, rgba(80,73,203,1) 100%);
    --storiesB-blue: #0038a8;
    --storiesB-pink: #fec0e0;
    --storiesB-gradient: linear-gradient(90deg, rgba(214,2,112,1) 0%, rgba(115,79,150,1) 100%);;
    --storiesT-blueLight: #d4f6ff;
    --storiesT-blueDark: #38d1fd;
    --storiesT-gradient: linear-gradient(90deg, rgba(252,171,186,1) 26%, rgba(56,209,253,1) 100%);
    --plusLiteratureDiversity-black: #2d2d2d;
    --plusLiteratureDiversity-purpleLight: #d1b3cc;
    --plusLiteratureDiversity-purpleDark: #9b59d0;
    --plusLiteratureDiversity-gradient: linear-gradient(90deg, rgba(155,89,208,1) 15%, rgba(255,244,51,1) 100%);
    --childrensLiterature-orangeDark: #ff7300;
    --childrensLiterature-orangeLight: #ffcea6;
    --childrensLiterature-gradient: linear-gradient(90deg, rgba(255,213,0,1) 24%, rgba(255,115,0,1) 100%);
    --contact--color: #000080;
}

/*FONTS*/
@font-face{
    font-family: "krub_medium";
    src: url('/fonts/Krub-Medium.ttf');
}

@font-face{
    font-family: "krub_bold";
    src: url('/fonts/Krub-Bold.ttf');
}

/*RESET CSS*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

li {
    list-style: none;
}

/*TIPOGRAPHY*/

h1 {
    font-family: "krub_bold";
    font-size: 60px;
    font-weight: 800;
}

h2 {
    font-family: "krub_bold";
    font-size: 35px;
    font-weight: 800;
}

h3 {
    font-family: "krub_bold";
    font-size: 30px;
    font-weight: 800;
}

h4 {
    font-family: "krub_bold";
    font-size: 25px;
    font-weight: 800;
}

h5 {
    font-family: "krub_medium";
    font-size: 25px;
    font-weight: 200;
}

p {
    font-family: "krub_medium";
    font-size: 18px;
    font-weight: 200;
}

a {
    font-family: "krub_bold";
    font-size: 20px;
    font-weight: 200;
    text-decoration: none;
    color: var(--color-black);
}

.smaller__p {
    font-size: 15px;
}

.gradient {
    background: var(--gradient-one);

    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.bold {
    font-family: "krub_bold";
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

/*BUTTONS*/
.button {
    padding: 1.5em 1em;

    background-color: var(--color-black);
    border: 1px var(--color-black) solid;
    color: var(--color-white);

    width: 300px;
}

.button:hover {
    background-color: var(--color-white);
    color: var(--color-black);
}

/*STANDARD SECTION SIZE*/
/*Used to standardize margin, padding and width measurements in some sections.*/
.standard__section--size {
    max-width: var(--standard-max-width);
    margin: var(--standard-margin);
    padding: var(--standard-padding);
}

/*HEADER*/
.header {
    display: flex;
    flex-direction: row;

    min-height: 100px;
    width: 100vw;
}

.header__content {
    flex-grow: var(--standard-flex-grow);
    flex-basis: var(--standard-flex-basis);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header .header__content .header__content--socials {
    flex-grow: var(--standard-flex-grow);
    flex-basis: var(--standard-flex-basis);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: var(--standard-gap);
}

.header .header__content .header__content--openModal {
    cursor: pointer;
}

.header .header__modal {
    display: none;
    position: fixed;
    top: 0;

    background-color: rgba(67, 67, 67, 0.635);

    width: 100vw;
    height: 100vh;

    animation: opacityEffect .5s ease-in-out;
}

.header .header__modal .header__modal__content {
    position: fixed;
    top: 0;
    left: 75%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: var(--standard-gap);

    width: 30vw;
    height: 100vh;

    padding: 2em 2em;

    background-color: var(--color-black);
    color: var(--color-white);

    animation: sideEffectMenu 2s ease-in-out;
}

.header .header__modal .header__modal__content .header__modal__content--close {
    font-family: "krub_medium";
    font-size: 40px;
    font-weight: 200;

    cursor: pointer;

    animation: opacityEffect 3s ease-in-out;
}

.header .header__modal .header__modal__content .header__modal__content--links {
    flex-grow: var(--standard-flex-grow);
    flex-basis: var(--standard-flex-basis);

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: var(--standard-gap);
    padding: 0 2em;
    animation: opacityEffect 3s ease-in-out;
}

.header .header__modal .header__modal__content .header__modal__content--links--each {
    color: var(--color-white);
}

@keyframes opacityEffect {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes sideEffectMenu {
    0% {transform: translateX(2em); opacity: 0}
    100% {transform: translateX(0); opacity: 1}
}

/*FOOTER*/
.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100vw;
    min-height: 320px;

    background-color: var(--color-black);
}

.footer .footer__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;

    max-width: 1200px;
    min-height: 320px;

    color: var(--color-white);
}

.footer .footer__container .footer__container__links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5em;

    text-align: center;
    
    width: 100%;
}

.footer .footer__container .footer__container__links .footer__container__links--each {
    font-family: "krub_medium";
    font-size: 16px;
    font-weight: 200;

    text-align: center;

    color: #ffffff;
}

.footer .footer__container .footer__container__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3em;

    width: 100%;
}

.footer .footer__container .footer__container__content  .footer__container__content__logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: .5em;

    padding: var(--standard-padding);

    min-height: 150px;
    width: 50%;

    color: var(--color-white);

    text-align: start;

    border-right: 1px var(--color-white) solid;
}

.footer .footer__container .footer__container__content  .footer__container__content__logo .footer__container__content__logo--text {
    width: 150px;
}

.footer .footer__container .footer__container__content  .footer__container__content__logo .footer__container__content__logo--gradient {
    background: url('/media/logo_gradient_color.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    border-radius: 100%;

    width: 100px;
    height: 100px;
}

.footer .footer__container .footer__container__content .footer__container__content__contact {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: var(--standard-gap);

    width: 50%;
}

.footer .footer__container .footer__container__content .footer__container__content__contact .footer__container__content__contact--text {
    color: var(--color-white);

    align-items: start;
}

/*BANNER HOME*/
.bannerHome {
    width: 100vw;
    height: var(--standard-min-height);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: var(--color-black);
}

.bannerHome .bannerHome__content {
    flex-grow: var(--standard-flex-grow);
    flex-basis: var(--standard-flex-basis);

    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;

    height: var(--standard-min-height);
    width: 60vw;
    padding-right: 4em;

    color: white;

    overflow: hidden;
    animation: textContent 15s ease-in-out;
}

.bannerHome .bannerHome__content .bannerHome__content--text {
    width: 500px;
}

.bannerHome .bannerHome__colorSide {
    background: url('/media/logo_gradient_color.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--standard-gap);

    text-align: center;
    color: var(--color-white);

    height: var(--standard-min-height);
    width: 40vw;

    animation: sideColor 10s ease-in-out;
}

.bannerHome .bannerHome__colorSide .bannerHome__colorSide--text {
    opacity: 0;
    animation: opacityEffect 3s ease-in-out;
    overflow: hidden;
}

@keyframes sideColor {
    0% {width: 100vw;}
    30% {width: 100vw;}
    100% {width: -30vw;}
}

@keyframes textContent {
    0% {opacity: 0; padding-left: 0; padding-right: 0;}
    25% {opacity: 0; padding-left: 0; padding-right: 0;}
    60% {opacity: 0; padding-left: 10em; padding-right: 1em;}
    100% {opacity: 1;}
}

/*BANNER STORIES*/
.bannerStories {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    min-height: 400px;
}

.bannerStories .bannerStories__content {
    flex-grow: var(--standard-flex-grow);
    flex-basis: var(--standard-flex-basis);

    display: flex;
    justify-content: center;
    align-items: center;

    padding: var(--standard-padding);

    max-width: 800px;
    min-height: 250px;

    background-color: var(--color-white);
    border-radius: 15px;
}

/*BANNER STORIES --> Stories with L*/
.storiesL__background {
    background: url('/media/banner_stories_L.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.storiesL__letterColor {
    color: var(--storiesL-purple);
}

/*BANNER STORIES --> Stories with G*/
.storiesG__background {
    background: url('/media/banner_stories_G.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.storiesG__letterColor {
    color: var(--storiesG-darkBlue);
}

/*BANNER STORIES --> Stories with B*/
.storiesB__background {
    background: url('/media/banner_stories_B.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.storiesB__letterColor {
    color: var(--storiesB-blue);
}

/*BANNER STORIES --> Stories with T*/
.storiesT__background {
    background: url('/media/banner_stories_T.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.storiesT__letterColor {
    color: var(--storiesT-blueDark);
}

/*BANNER STORIES --> +Literature & Diversity*/
.storiesPlus__background {
    background: url('/media/banner_plus_literautre_diversity.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.storiesPlus__letterColor {
    color: var(--plusLiteratureDiversity-purpleDark);
}

/*BANNER STORIES --> Children's Literature*/
.childrensLiterature__background {
    background: url('/media/banner_childrens_literature.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*BANNER CONTACT*/
.bannerContact {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    min-height: 300px;

    background-image: url('/media/logo_gradient_color.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.bannerContact .bannerContact__content {
    flex-grow: var(--standard-flex-grow);
    flex-basis: var(--standard-flex-basis);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: var(--standard-gap);
    padding: var(--standard-padding);

    max-width: 800px;
    min-height: 150px;

    background-color: var(--color-black);
    color: var(--color-white);
    border-radius: 5px;
}

/*INTRO HOME*/
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--standard-gap);

    text-align: center;
}

/*CATALOGUE HOME*/
.catalogue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;

    text-align: center;
}

.catalogue .catalogue__title {
    width: 100%;
    padding: .25em;

    border-top: rgba(51, 51, 51, 0.679) double;
    border-bottom: rgba(51, 51, 51, 0.679) double;
}

.catalogue .catalogue__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    gap: var(--standard-gap);
}

/*AUTHORS SECTION HOME*/
.authors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: var(--standard-padding) 0;
    margin: var(--standard-margin);

    width: 100vw;
    min-height: 400px;

    color: var(--color-white);
    background-color: var(--color-black);
}

.authors .authors__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 2em;

    max-width: var(--standard-max-width);
    min-height: 400px;
}

.authors .authors__container .authors__container__boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: 8em;

    width: 100%;
    padding: 1em 5em;

    text-align: start;

    background: url('/media/background_support_gradient.jpg');
}

.authors .authors__container .authors__container__boxes .authors__container__boxes--img {
    height: auto;
    width: 200px;
}

.authors__container__boxes--text {
    color: var(--color-black);
    padding: .5em;
    width: 200px;
}

/*CARROUSEL HOME WIDTH > 1000px*/
.carrousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;

    padding: var(--standard-padding);

    width: 100vw;
    min-height: 400px;
    
    background: url('/media/background_support_gradient.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.carrousel .carrousel__title {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    text-align: start;

    width: var(--standard-max-width);
    min-height: 50px;
}

.carrousel .carrousel__slider {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 1em;

    min-height: 290px;
}

.carrousel .carrousel__slider .carrousel__slider__container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap;

    transition: 2s ease-in-out;

    max-width: var(--standard-max-width);
    max-height: 300px;
}

.carrousel .carrousel__slider .carrousel__slider__container .carrousel__slider__container__each {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--standard-gap);

    margin: var(--standard-margin);

    width: var(--standard-max-width);

    object-fit: cover;

    background-color: var(--color-black);
    color: var(--color-white);
}

.carrousel .carrousel__slider .carrousel__slider__container .carrousel__slider__container__each .carrousel__slider__container__each--img {
    width: 290px;
    height: auto;
}

.carrousel .carrousel__slider .carrousel__slider__container .carrousel__slider__container__each .carrousel__slider__container__each--text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: var(--standard-gap);

    padding: var(--standard-padding);

    width: 710px;
}

/*CARDS STORIES L, G, B & T / +Literature & Diversity / Children's Literature*/
.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--standard-gap);
}

.cards .cards__search {
    flex-grow: var(--standard-flex-grow);
    flex-basis: var(--standard-flex-basis); 
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cards .cards__search .cards__search--input {
    flex-grow: var(--standard-flex-grow);
    flex-basis: var(--standard-flex-basis);

    padding: .5em;
    margin: 1em auto;
    
    width: 330px;
    
    border: none;
    border-bottom: 2px solid var(--color-black);

    font-family: "krub_medium";
    font-size: 15px;
    font-weight: 200;
}

.cards .cards__search .cards__search--input::placeholder {
    font-family: "krub_medium";
    font-size: 15px;
    font-weight: 200;

    border: none;
}

.cards .cards__container {
    flex-grow: var(--standard-flex-grow);
    flex-basis: var(--standard-flex-basis);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--standard-gap);
}

.cards .cards__container .cards__container__box {
    flex-grow: var(--standard-flex-grow);
    flex-basis: var(--standard-flex-basis);

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 350px;
}

.cards .cards__container .cards__container__box .cards__container__box__img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 1em;

    width: 20%;
    min-height: 100%;

    border-radius: 15px 0 0 15px;
}

.cards .cards__container .cards__container__box .cards__container__box__img .cards__container__box__img--each {
    border-radius: 15px;
}

.cards .cards__container .cards__container__box .cards__container__box__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    width: 80%;
    min-height: 100%;
}

.cards .cards__container .cards__container__box .cards__container__box__content .cards__container__box__content--information {
    flex-grow: var(--standard-flex-grow);
    flex-basis: var(--standard-flex-basis);

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: var(--standard-gap);

    padding: 1em;

    width: 100%;
    max-height: 150px;

    border-radius: 0 15px 0 0;
}

.cards .cards__container .cards__container__box .cards__container__box__content .cards__container__box__content--information .cards__container__box__content--information--background {
    padding: .3em .5em .3em .5em;
    border-radius: 15px;
}

.cards .cards__container .cards__container__box .cards__container__box__content .cards__container__box__content--information .cards__container__box__content--information--secondLine {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: .5em;
}

.cards .cards__container .cards__container__box .cards__container__box__content .cards__container__box__content--text {
    flex-grow: var(--standard-flex-grow);
    flex-basis: var(--standard-flex-basis);

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: var(--standard-gap);

    padding: 1em;

    width: 100%;
    min-height: 70%;

    border-radius: 0 0 15px 0;
}

.cards .cards__noResult {
    flex-grow: var(--standard-flex-grow);
    flex-basis: var(--standard-flex-basis);

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--standard-gap);

    color: #525252;

    min-height: 200px;
}

/*CARDS --> Stories with L*/
.storiesL__img__background {
    background-color: var(--storiesL-purple);
}

.storiesL__information__background {
    background-image: var(--storiesL-gradient);
}

.storiesL__information__text--background {
    background-color: var(--storiesL-purple);
    color: var(--color-white);
}

.storiesL__text__background {
    background-color: var(--storiesL-orange);
}

/*CARDS --> Stories with G*/
.storiesG__img__background {
    background-color: var(--storiesG-darkBlue);
}

.storiesG__information__background {
    background-image: var(--storiesG-gradient);
}

.storiesG__information__text--background {
    background-color: var(--storiesG-darkBlue);
    color: var(--color-white);
}

.storiesG__text__background {
    background-color: var(--storiesG-lightBlue);
}

/*CARDS --> Stories with B*/
.storiesB__img__background {
    background-color: var(--storiesB-blue);
}

.storiesB__information__background {
    background-image: var(--storiesB-gradient);
}

.storiesB__information__text--background {
    background-color: var(--storiesB-blue);
    color: var(--color-white);
}

.storiesB__text__background {
    background-color: var(--storiesB-pink);
}

/*CARDS --> Stories with T*/
.storiesT__img__background {
    background-color: var(--storiesT-blueDark);
}

.storiesT__information__background {
    background-image: var(--storiesT-gradient);
}

.storiesT__information__text--background {
    background-color: var(--color-white);
    color: var(--color-black);
}

.storiesT__text__background {
    background-color: var(--storiesT-blueLight);
}

/*CARDS --> +Literature & Diversity*/
.storiesPlus__img__background {
    background-color: var(--plusLiteratureDiversity-black);
}

.storiesPlus__information__background {
    background-image: var(--plusLiteratureDiversity-gradient);
}

.storiesPlus__information__text--background {
    background-color: var(--plusLiteratureDiversity-black);
    color: var(--color-white);
}

.storiesPlus__text__background {
    background-color: var(--plusLiteratureDiversity-purpleLight);
}

/*CARDS --> Children's literature*/
.childrensLiterature__img__background {
    background-color: var(--childrensLiterature-orangeDark);
}

.childrensLiterature__information__background {
    background-image: var(--childrensLiterature-gradient);
}

.childrensLiterature__information__text--background {
    background-color: var(--color-white);
    color: var(--color-black);
}

.childrensLiterature__text__background {
    background-color: var(--childrensLiterature-orangeLight);
}

/*CONTACT FORM*/
.form {
    font-family: "krub_bold";
    font-size: 18px;
    font-weight: 200;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 400px;

}

.form .form__section {
    margin-bottom: 1em;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2em;

    width: 100%;
}

.form .form__section .form__section__container {
    flex-grow: var(--standard-flex-grow);
    flex-basis: var(--standard-flex-basis);

    display: flex;
    flex-direction: column;
    justify-content: start;
}

.form .form__section .form__section__container .form__section__container--label {
    margin-bottom: .5em;
}

.form .form__section .form__section__container .form__section__container--description {
    width: 100%;
    height: 100px; 
}

.form__section input[type="text"],
.form__section input[type="email"] {
    padding: 1em;

    border: 2px solid var(--contact--color); 
    border-radius: 5px; 
}

.form__section input[type="text"]::placeholder,
.form__section input[type="email"]::placeholder {
    color: transparent; 
}

.form .form__section__button {
    margin-bottom: 1em;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    gap: 2em;

    width: 100%;
}

.form .form__section__button .form__section__button--style {
    font-family: "krub_bold";
    font-size: 18px;
    font-weight: 200;

    padding: .7em 4em;
    background-color: var(--contact--color); 

    border: 2px solid transparent;
    border-radius: 5px;
    color: var(--color-white);
    cursor: pointer;
}

.form .form__section__button.form__section__button--style:hover {
    background-color: white;
    color: var(--color-black); 

    border: 2px solid var(--contact--color);
    border-radius: 5px;
}









